a {
  color: #211d1d;
  font-family: garamond;
  text-align: center;
}

.a1 {
  background-color: #341c10;
  border: 1px solid;
  box-shadow: 5px 5px 10px 1px #000;
  color: #f2f2f2;
  text-decoration: none;
}

.a1:hover {
  background-color: #ba753c;
  box-shadow: 5px 5px 10px 1px #000;
  color: black;
}

.a2 {
  color: #211d1d;
  font-family: garamond;
  text-align: center;
}

.a3 {
  background-color: #901717;
  border: 1px solid;
  box-shadow: 5px 5px 10px 1px #000;
  color: #f2f2f2;
  text-decoration: none;
}

body {
  background-color: rgb(195, 177, 142);
  font-family: garamond;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.coursesTable {
  width: 200px;
}

footer {
  bottom: 5px;
  height: 28px;
  left: 0px;
  margin: 2px auto 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input {
  background-color: rgb(222, 211, 189);
  font-family: garamond;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
}

.myimg {
  height: 300px;
  width: auto;
}

.pagination {
  display: inline;
}

select {
  background-color: rgb(222, 211, 189);
  font-family: garamond;
  font-size: 25px;
}

table {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table_students {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 700px;
}

textarea {
  background-color: rgb(222, 211, 189);
  display: block;
  font-family: garamond;
  font-size: 25px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 515px;
}

td {
  border: 1px solid;
}

.td-hidden {
  border: none;
}

th {
  border: 1px solid;
}

.topnav {
  background-color: #341c10;
  box-shadow: 5px 5px 10px 1px #000;
  font-family: garamond;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  box-shadow: 5px 5px 10px 1px #000;
  color: #f2f2f2;
  float: left;
  font-weight: 300;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ba753c;
  box-shadow: 5px 5px 10px 1px #000;
  color: black;
}

.topnav a.active {
  background-color: #774924;
  box-shadow: 5px 5px 10px 1px #000;
  color: white;
}