<!DOCTYPE html>

<html>
    <head>
        <link th:href="@{/style.css}" rel="stylesheet">
    </head>
    <body>

        <div class="topnav">
            <a  th:href="@{/}">Main</a>
            <a  th:href="@{/houses}">Houses</a>
            <a class="active" th:href="@{/courses/page/1}">Courses</a>
        </div>
        <br><br>
            <form method="post" th:object="${course}" th:action="@{/course/{id}/update(id=${course.id})}">
                <input type="text" placeholder="Code" th:field="*{code}">
                <input type="text" placeholder="Subject" th:field="*{subject}">
                <textarea type="text" placeholder="Description" th:field="*{description}"></textarea>
                <br>
                <input class="a1" type="submit" value="Update">
            </form>
            <p style="color:rgb(175, 33, 33)" th:errors="${course.code}"></p>
            <p style="color:rgb(175, 33, 33)" th:errors="${course.subject}"></p>
            <p style="color:rgb(175, 33, 33)" th:errors="${course.description}"></p>
            <br>
            <a class="a3" role="button" th:href="@{/course/{id}/delete(id=${course.id})}">Delete</a>
            <br><br>
            <a class="a1" th:href="@{/course/{id}(id=${course.id})}">Back</a>
    </body>
</html>