<!DOCTYPE html>

<html>
    <head>
        <link th:href="@{/style.css}" rel="stylesheet">
    </head>
    <body>
        <div class="topnav">
            <a  class="active" th:href="@{/}">Main</a>
            <a  th:href="@{/houses}">Houses</a>
            <a th:href="@{/courses/page/1}">Courses</a>
        </div>
        <div class="logo">
            <img src="hogwarts_logo.png" alt="Hogwarts' logo" width="auto" height="800">
        </div>
        <footer>
        <p style="display: inline;">All the data on this page is from: </p>
        <a href="https://harrypotter.fandom.com/wiki/">Harry Potter fandom wiki</a>
    </footer>

    </body>
</html>