<!DOCTYPE html>

<html>

<head>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>

<body>
    <div class="topnav">
        <a class="active" th:href="@{/}">Main</a>
        <a th:href="@{/houses}">Houses</a>
        <a th:href="@{/courses/page/1}">Courses</a>
    </div>
    <h1>Hogwarts Student Management System</h1>
    <div class="w3-container">
        <img src="hogwarts_logo.png" alt="Hogwarts' logo" width="auto" height="400" />
    </div>
    <div>
        <span>To add or delete student chose "Houses" tab from top navigation bar, then chose a House. <br>
        To manage courses and grades chose "Courses" tab. <br>
        Enrolling students to courses can be done in student page or in course page. <br>
            Deleting student from course is allowed only in course page.</span>
    </div>
    <footer>
        <p style="display: inline">All the data on this page is from:</p>
        <a href="https://harrypotter.fandom.com/wiki/">Harry Potter fandom wiki</a>
    </footer>
</body>

</html>